* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#hero-2 {
    background-image: url("../images/Screenshot\ 2025-07-02\ at\ 9.40.38\ AM.png");
    background-size: cover;
    background-position: center center;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
#hero-2 h2 {
    font-size: 72px;
    position: absolute;
    right: 20%;
    bottom: 50%;
    color: white;
}
