* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#navbar {
    background: linear-gradient(to bottom, green, #3e6d3e);
    display: flex;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}
#navbar {
    background: linear-gradient(to bottom, rgb(245, 193, 39), #c7d31e);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar #logo img {
    width: 150px;
}
#navbar .cta-buttom {
    background-color: white;
    color: rgb(233, 189, 10);
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

/*
    Navbar setup and configuration
*/
#header {
    position: sticky;
    top: 0px;
}

.content-column {
    width: 800px;
    margin: 0px auto;
}

#navbar-top {
    background: linear-gradient(to bottom, rgb(106, 0, 255), #ff8800);
}

#navbar-top .content-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
}  

#navbar-top a {
    text-decoration: none;
    color: white;
    padding: 24px 0px;
}

#navbar-top .content-column div a {
    padding: 24px;
}

#navbar-top #logo img {
    width: 150px;
}

#navbar-top .cta-buttom {
    background-color: white;
    color: green;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
}

#navbar-bottom {
    background: linear-gradient(to bottom, rgb(247, 112, 2), rgb(11, 11, 9));
}

#navbar-bottom .content-column {
    display: flex;
    justify-content: space-between;
}

#navbar-bottom a {
    text-decoration: none;
    color: white;
    padding: 12px 0px;
}
#layout {
    width: 600px;
    margin: 48px auto;
    font-size: 24px;
    height: 150vh;
}
.cta-buttom {
    background-color: black;
    margin: 15px;
    
}