* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#navbar {
    background: linear-gradient(to bottom, green, #3e6d3e);
    display: flex;
    margin: 20px;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}
#navbar {
    background: linear-gradient(to bottom, rgb(78, 112, 134), #21a181);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar #logo img {
    width: 150px;
}
#navbar .cta-buttom {
    background-color: white;
    color: rgb(233, 189, 10);
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}
* {
    box-sizing: border-box;
}

