* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 500px;
}
#grid-layout {
    display: grid; 
    grid-template-columns: 1fr 600px 250px 1fr;
    grid-template-areas: 
        ". a1 a2 ."
    ;
}
#sidebar {
    grid-area: a2;
    padding: 18px;
}
#sidebar h2 {
    background-color: #000000;
    margin: 0px;
    padding: 12px;
    color: rgb(255, 255, 255);
    font-size: 18px;
}
#sidebar ul {
    background-color: rgb(255, 255, 255);
    border: 2px solid #ffe603;
    margin: 0px 0px 36px;
    list-style-type: none;
    padding: 0px 12px;
}
#sidebar a {
    color: #000000;
    text-decoration: none;
}
#sidebar li {
    border-bottom: 2px solid #ffe603;
    padding: 8px 0px;
}
#sidebar li:last-child {
    border-bottom: 0px;
}
#main {
    grid-area: a1;
    margin: 0px 36px;
}