* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#hero-2 {
    background-image: url("../images/urban-hi-res-2nse.jpg");
    background-size: cover;
    background-position: center center;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
#hero-2 h2 {
    font-size: 72px;
    position: absolute;
    right: 20%;
    bottom: 50%;
    color: white;
}
#hero-2 a {
    font-size: 20px;
    display: inline-block;
    background-color: #acacac;
    color: white;
    text-decoration: none;
    padding: 24px;
    position: absolute;
    right: 20%;
    bottom: 41%;
}
.horizontal-masonry-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}
.horizontal-masonry-gallery img {
    height: 250px;
    object-fit: cover;
    flex: 1;
}
