@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-color: black;
}
#hero-2 {
    background-image: url("../images/urban-hi-res-2nse.jpg");
    background-size: cover;
    background-position: center center;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
#hero-2 h2 {
    font-size: 72px;
    position: absolute;
    right: 20%;
    bottom: 50%;
    color: white;
    font-family: "Sedgwick Ave", cursive;
}
#hero-2 a {
    font-size: 20px;
    display: inline-block;
    background-color: #acacac;
    color: white;
    text-decoration: none;
    padding: 24px;
    position: absolute;
    right: 20%;
    bottom: 41%;
    font-family: "Sedgwick Ave", cursive;;
}
.horizontal-masonry-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}
.horizontal-masonry-gallery img {
    height: 250px;
    object-fit: cover;
    flex: 1;
}
.card-container {
    display: flex;
    justify-content: space-between;
}
.card {
    background-color: rgb(195, 195, 195);
    padding: 24px;
    margin: 50px;
    color: white;
    border-radius: 10%;
}
h3 {
    color: white;
    font-family: "Sedgwick Ave", cursive;
}
a {
    background-color: yellow;
    text-decoration: none;
    color: black;
    padding: 15px;
    border-radius: 10%;
    font-size: 12px;
    font-family: "Sedgwick Ave", cursive;
}
