#p1 {
    background-color: aqua;
    text-align: left;
    display: inline-block;
    padding-right: 34px;
    padding-left: 34px;
    padding-top: 25px;
    padding-bottom: 30px;
    margin: 10px;
}
#p2 {
    background-color: rgb(229, 255, 0);
    display: inline-block;
    text-align: left;
    padding-right: 44px;
    padding-left: 44px;
    padding-top: 25px;
    padding-bottom: 30px;
    margin: 25px;
}
#p3 {
    background-color: rgb(255, 134, 35);
    text-align: left;
    padding-right: 34px;
    padding-left: 34px;
    padding-top: 5px;
    padding-bottom: 30px;
    display: inline-block;
    margin: 40px;
}
#p4 {
    background-color: rgb(233, 58, 233);
    text-align: left;
    padding-right: 40px;
    padding-left: 34px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: inline-block;
    margin: 30px;
}
#p5 {
    background-color: rgb(15, 248, 15);
    text-align: left;
    display: inline-block;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
}
#p6 {
    display: inline-block;
    text-align: left;
    background-color: rgb(244, 77, 77);
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 25px;
}