/* Drill 1 - Write your code solution below */
#column-d1 {
    width: 50%;
}

/* Drill 2 - Write your code solution below */
#column-d2 {
    width: 50%;
    margin-left: auto;
}

/* Drill 3 - Write your code solution below */
#column-d3 {
    width: 50%;
    margin: auto;
}

/* Drill 4 - Write your code solution below */
#column-d4 [
]

/* Drill 5 - Write your code solution below */
